<main>
    <h2>Add an artist!</h2>
    <a href = "/">Return to the Home Page</a>
    <div id = "addSample">
        <form action="/Artists" method="POST">
            <input type = "text" name = "artistName" placeholder= "artist name">
            <input type = "submit" value = "submit">
        </form>
    </div>

</main>
