<main>
	<link rel="stylesheet" type="text/css" href="/css/pages.css">
    <h2>Add a genre!</h2>
    <a href = "/">Return to the Home Page</a>
    <div id = "addSample">
        <form action="/Genres" method="POST">
            <input type = "text" name = "genreName" placeholder= "genre name">
            <input type = "submit" value = "submit">
        </form>
    </div>

</main>