<main>
    
	<link rel="stylesheet" type="text/css" href="/css/pages.css">
    <h2>Add a song!</h2>
    <a href = "/">Return to the Home Page</a>
    <div id = "addSample">
        <form action="/Songs" method="POST">
            <input type = "text" name = "songName" placeholder= "song name">
            <input type = "text" name = "songBpm" placeholder= "song BPM">
            <input type = "text" name = "songKey" placeholder= "song Key">
            <input type = "submit" value = "submit">
        </form>
    </div>

</main>