<main>
    <h2>Add a sample!</h2>
    <a href = "/">Return to the Home Page</a>
    <div id = "addSample">
        <form action="/" method="POST">
            <input type = "text" name = "genre name" placeholder= "genre name">
            <input type = "text" name = "artist name" placeholder= "artist name">
            <input type = "text" name = "song name" placeholder= "song name">
            <input type = "text" name = "song bpm" placeholder= "song bpm">
            <input type = "text" name = "song key" placeholder= "song key">
        </form>
    </div>

</main>