<main>
	<h2>Choose your genre</h2>

{{#each showGenres}}
			<div class="genre-tabs">
                <!--
				<img width="40vw" height="40vh" src={{img}}>
               
				<a href="{{_id}}"><h3>See more</h3></a>
                 -->
			</div>

		{{/each}}

<a href="/addSample"><h2>Add a sample to the collection</h2></a>
</main>