<main>
	<h2>Choose your genre</h2>

{{#each Genre}}
			<div class="genre-tabs">

				<img width="40vw" height="40vh" src={{img}}>

				<a href="{{_id}}"><h3>See more</h3></a>

			</div>

		{{/each}}

<a href="/addGenre"><h2>Create a new genre</h2></a>
</main>