<!-- Make a div class for a banner saying welcome to samplebuddy
--->

<!DOCTYPE>
<html>

<head>
    <title>SampleBuddy</title>
    <link rel="stylesheet" type="text/css" href="/css/rootPage.css">
</head>
<body>
<h1>Welcome to SampleBuddy!</h1>
<div class="container">
    <a href="/Genres">Genres</a>
    <a href="/Artists">Artists</a>
    <a href="/Songs">Songs</a>
</div>
</body>

</html>